extends layout

block content
  div
    p
      h1= "Books"
      a(href="/books/new", class="button") Create New Book
  
  div.container 
    table   
      tr 
        th Title 
        th Author 
        th Genre 
        th Year
      each book in books 
        tr 
          td 
            a(href = "/books/" + book.id) #{book.title} 
          td= book.author 
          td= book.genre
          td= book.year